/* Objects */

.collapsibleStyle {
    color: white;
    padding: 3px 3px 5px 8px;
}

.collapsibleStyleP {
    cursor: pointer;
    display: inline;
}

.blockDiv {
    display: inline-block;
}

.sidelineHue {
    composes: blockDiv;

    margin-left: 12px;
    vertical-align: top;

    border-left: 2px solid #373737;
    border-radius: 3px;
}

.collapsibleInner {
    display: flex;
    margin-top: 5px;
}

/* Generic */

.leftPad {
    padding-left: 12px;
}

.labelPadding {
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

/* Inputs */

.inputBox {
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 3px;
    border: 1px solid white;
    padding: 1px;
}



.checkBox {
    filter: grayscale(100%);
}
