.button {
    background: transparent;
    border-radius: 3px;
    border: solid 1px white;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

.overlayBox {
    padding: 20px;
    position: fixed;

    border-radius: 7px;
    border: 1px solid white;
    background: black;
    color: white;
}

.smallOverlayBox {
    composes: overlayBox;

    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    margin-left: -300px;   /* negative half of width above */
    margin-top: -250px;   /* negative half of height above */
}

.largeOverlayBox {
    composes: overlayBox;

    left: 0;
    right: 0;
    top: 0;
    margin: 2vh auto auto;
    width: 94vw;
    height: 90vh;

    overflow: scroll;
}

.largeOverlayBox::-webkit-scrollbar {
    display: none;
}

.heading {
    text-align: center;
    margin: 8px auto;
}

.spacer {
    height: 10px;
}

.closeDiv {
    position: absolute;
    bottom: 20px;
    right: 20px;
}